<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" -->
<beans default-autowire="byName" default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<!-- Filter & Factory ************************************************************************* -->
	<bean id="diskFileItemFactory" class="org.apache.commons.fileupload.disk.DiskFileItemFactory"
		scope="prototype">
		<property name="sizeThreshold" value="5242880" />
	</bean>

	<bean id="servletFileUploadSimple" class="com.hp.it.et.log.utils.ServletFileUploadSimple"
		scope="prototype">
		<constructor-arg ref="diskFileItemFactory" />
		<property name="maxSize" value="2" />
	</bean>

</beans>
